.maze-container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

canvas {
  max-width: 100%;
  
  border: 2px solid black;
  box-sizing: border-box;
}