@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

body {
  background-image: url("/public/assets/imgs/buildigs-bg.png");
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/assets/imgs/buildigs-bg.png");
}

.maze-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  backdrop-filter: blur(3px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h2 {
    text-align: center;
    font-family: $font-titles;
    font-size: clamp(2rem, calc(2rem + 2.5vw), 5rem);
    color: $main-active-color;
    margin-bottom: 1.5rem;
  }

  button {
    padding: 10px 20px;
    font-family: $font-body;
    font-size: clamp(1.2rem, calc(1rem + 1vw), 1.6rem);
    cursor: pointer;
    border-radius: 5px;
    border: .5px solid rgba(255, 255, 255, .35);
    box-shadow: 2px 2px 6px #16161759, -4px -4px 8px #ffffff14,
      0 10px 25px #00000040, inset 0 1px 1px #ffffffb3, inset 0 -2px 6px #fff6;
    background-color: $main-active-color;
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    user-select: none;

    &:hover {
      background-color: rgba($main-active-color, 0.8);
      transform: scale(1.02);
    }
  }

  canvas {
    display: block;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .35);
    box-sizing: border-box;
  }

  .maze-controls {
    position: absolute;
    bottom: clamp(5.2rem, calc(4rem + 5.2vh), 15rem);
    right: 0;
    z-index: 100;

    width: 130px; 
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ".    up    ."
      "left  .  right"
      ".   down   .";
    gap: 0px;

    display: none;

    @media (max-width: 1024px) {
      display: grid;
    }

    .control-button {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); 
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

      border-radius: 50%;
      cursor: pointer;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;

      transition: all 0.2s ease-in-out;

      &.up {
        grid-area: up;
      }

      &.down {
        grid-area: down;
        
        img { transform: rotate(180deg); }
      }

      &.left {
        grid-area: left;
        img { transform: rotate(-90deg); }
      }

      &.right {
        grid-area: right;
        img { transform: rotate(90deg); }
      }

      img {
        width: 60%;
        height: 60%;
        object-fit: contain;

        opacity: 0.8;
        transition: all 0.2s ease;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);

        img {
          opacity: 1;
        }
      }

      &:active {
        background: rgba(255, 255, 255, 0.1);
        transform: scale(0.94);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}