* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maze-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h2 {
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: .5px solid rgba(255, 255, 255, .35);
    box-shadow: 2px 2px 6px #16161759, -4px -4px 8px #ffffff14,
      0 10px 25px #00000040, inset 0 1px 1px #ffffffb3, inset 0 -2px 6px #fff6;
    background-color: rgb(1, 113, 227);
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      background-color: rgba(1, 113, 227, 0.8);
      transform: scale(1.02);
    }
  }

  canvas {
    display: block;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .35);
    box-sizing: border-box;
  }

  .maze-controls {
    position: absolute;
    bottom: 2.5rem;
    right: 2rem;
    z-index: 100;

    width: 130px; 
    height: 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ".    up    ."
      "left  .  right"
      ".   down   .";
    gap: 8px;

    display: none;

    @media (max-width: 1024px) {
      display: grid;
    }

    .control-button {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px); 
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

      border-radius: 50%;
      cursor: pointer;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.2s ease-in-out;

      &.up {
        grid-area: up;
      }

      &.down {
        grid-area: down;
        
        img { transform: rotate(180deg); }
      }

      &.left {
        grid-area: left;
        img { transform: rotate(-90deg); }
      }

      &.right {
        grid-area: right;
        img { transform: rotate(90deg); }
      }

      img {
        width: 60%;
        height: 60%;
        object-fit: contain;

        opacity: 0.8;
        transition: all 0.2s ease;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);

        img {
          opacity: 1;
        }
      }

      &:active {
        background: rgba(255, 255, 255, 0.1);
        transform: scale(0.94);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}