* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.maze-container {
  width: 90%;
  max-width: 600px;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  h2 {
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  }

  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: .5px solid rgba(255, 255, 255, .35);
    box-shadow: 2px 2px 6px #16161759, -4px -4px 8px #ffffff14,
      0 10px 25px #00000040, inset 0 1px 1px #ffffffb3, inset 0 -2px 6px #fff6;
    background-color: rgb(1, 113, 227);
    color: white;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
      background-color: rgba(1, 113, 227, 0.8);
      transform: scale(1.02);
    }
  }

  canvas {
    display: block;
    border-radius: 10px;      
    // max-width: 100%;
    // height: auto;
    // max-height: 100%;
    border: 2px solid rgba(255, 255, 255, .35);
    box-sizing: border-box;
  }
}