@use "./variables" as *;
@use "./mixins" as *;

.timer {
    @include liquid-glass;
    font-size: clamp(2rem, calc(1rem + 2.5vw), 3.2rem);
    font-weight: bold;
    color: #000;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    font-family: $font-titles;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    &.danger {
        color: #ff0000;
        text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
        border: solid 1px rgba(255, 0, 0, 0.5);
    }

    &.shake {
        animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both infinite;
    }
}