@use "./partials/maze";
@use "./partials/language-selector";
@use "./partials/mixins";
@use "./partials/variables";
@use "./partials/timer";
@use "./partials/burger-menu";
@use "./partials/animations";
@use "./partials/info-popup";